{% extends 'base.html.twig' %}

{% block title %}
About us | {{ parent() }}
{% endblock %}

{% block main %}
<h1>About us</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, inventore laborum. Accusantium alias assumenda,
    deserunt dicta dolorem, dolorum eaque harum itaque maiores odit perspiciatis quibusdam ratione similique. Dolor
    esse, pariatur.</p><p>Delectus doloremque, earum est facere hic id iure officia, quasi ratione tempore vero vitae
    voluptates! A deserunt, dolores ex libero magni mollitia necessitatibus neque, numquam perferendis, sed totam unde
    voluptatem.</p><p>Accusamus at aut beatae consectetur culpa cumque debitis dolor fuga illo illum, neque nesciunt
    officia quibusdam ratione repellat repellendus velit vero voluptatum! Beatae dolor, ducimus esse minima quaerat
    reiciendis veritatis.</p><p>Error fuga, fugit laboriosam maxime odio officia quidem tempora tempore unde? Aliquid
    amet aspernatur, deserunt, dolorum, eligendi ipsum necessitatibus odio quo rerum sit soluta ullam ut? Autem
    consequatur eaque saepe!</p><p>Alias animi aspernatur aut cupiditate delectus, distinctio dolor earum eligendi esse
    ex excepturi exercitationem fugit ipsam iste laudantium modi obcaecati odit quae quam qui quia reiciendis
    reprehenderit rerum vel voluptatibus.</p><p>Ab accusamus aliquid aperiam assumenda beatae corporis dicta doloremque
    ducimus ex fugit ipsa iste laboriosam maxime minima necessitatibus, nihil odio porro quisquam quo quod rem saepe
    sapiente ut voluptas voluptatem?</p><p>At culpa dolore dolorem doloremque explicabo facere harum hic, iusto
    molestias nemo obcaecati, possimus praesentium rerum suscipit tempora unde velit. Aliquid enim, facilis labore minus
    molestias non optio quam reprehenderit.</p><p>Animi dolorum eos est illum neque odit optio quidem repudiandae
    tempore! Deserunt, in nihil non quasi qui veniam veritatis voluptas voluptates. Architecto consectetur, dolores ea
    eius fugit nihil odio velit.</p><p>Alias aliquam aspernatur at blanditiis consectetur deserunt eum exercitationem
    maiores minus nam neque nihil nisi nobis nostrum obcaecati officiis omnis quibusdam recusandae repellat repellendus
    repudiandae sint unde velit, vero voluptatibus?</p><p>Ad aliquam assumenda at, atque aut consequuntur corporis
    cumque cupiditate dolorem facere impedit incidunt ipsam iste itaque iusto maiores optio perspiciatis possimus quae
    quidem quo repellat sed sit voluptas voluptatem.</p>
{% endblock %}